image: mysteriumnetwork/mobile-ci:0.1.0

stages:
  - deploy

push-beta:
  stage: deploy
  dependencies:
    - install-packages
  when: manual
  only:
    - master
    - /^release-*/
  script:
    - echo "$FASTLANE_ANDROID_SIGNING_FILE_VALUE" | base64 --decode > "$FASTLANE_ANDROID_SIGNING_FILE_PATH"
    - echo "$FASTLANE_ANDROID_SECRET_JSON_VALUE" | base64 --decode > "$FASTLANE_ANDROID_SECRET_JSON_PATH"
    - echo "$GOOGLE_SERVICES_VALUE" | base64 --decode > "$GOOGLE_SERVICES_PATH"
    - bundle update --bundler
    - fastlane android beta
