binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAnalyticsBinary.json"
binary "https://building42.github.io/Specs/Carthage/iOS/Crashlytics.json"
binary "https://building42.github.io/Specs/Carthage/iOS/Fabric.json"