binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAnalyticsBinary.json" == 5.11.0
binary "https://building42.github.io/Specs/Carthage/iOS/Crashlytics.json" == 3.11.0
binary "https://building42.github.io/Specs/Carthage/iOS/Fabric.json" == 1.8.0
github "mysteriumnetwork/node" ~> 0.5.0
