<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>821693118960-79g466q6kaebbia04slp9u4u94bh8q9t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.821693118960-79g466q6kaebbia04slp9u4u94bh8q9t</string>
	<key>API_KEY</key>
	<string>AIzaSyC6jTSoOQVn5qbP_dtF6N50-wUfziyYFrY</string>
	<key>GCM_SENDER_ID</key>
	<string>821693118960</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>network.mysterium.MysteriumVPN</string>
	<key>PROJECT_ID</key>
	<string>mysterium-vpn</string>
	<key>STORAGE_BUCKET</key>
	<string>mysterium-vpn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:821693118960:ios:876e4b88ddff58a0</string>
	<key>DATABASE_URL</key>
	<string>https://mysterium-vpn.firebaseio.com</string>
</dict>
</plist>