<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="network.mysterium.vpn"
    tools:ignore="LockedOrientationActivity">

    <application>

        <activity
            android:name="updated.mysterium.vpn.ui.top.up.play.billing.summary.PlayBillingSummaryActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="updated.mysterium.vpn.ui.top.up.play.billing.amount.usd.PlayBillingAmountUsdActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>
